<!-- 
This file is part of SOMHunter.

Copyright (C) 2020 František Mejzlík <frankmejzlik@gmail.com>
                   Mirek Kratochvil <exa.exa@gmail.com>
                   Patrik Veselý <prtrikvesely@gmail.com>

SOMHunter is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free
Software Foundation, either version 2 of the License, or (at your option)
any later version.

SOMHunter is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
SOMHunter. If not, see <https://www.gnu.org/licenses/>.
-->
<!-- Include header -->
<%- include common/header.ejs %>

<section class="ranker-grid-section grid-container">
  <div class="grid-x grid-x align-center">

<!-- ===================================== -->
<!-- Left sidebar: Query builder -->
<!-- ===================================== -->
<div class="ranker-left-sidebar small-3 cell">

  <section class="autocomplete-section ranker-single">
    <form autocomplete="off" class="autocomplete-form grid-container">

    <div class="grid-x align-left grid-padding-x"> 
      <!-- Top buttons -->
      <div class="small-6 cell">
        <a class="button block-btn new-seach-btn" onclick="resetSearchSession()">New search</a>
      </div>
      <div class="small-6 cell">
        <a class="button block-btn help-btn" data-open="modalHelp">Help</a>
      </div>
    
    </div>

    <!-- ---------------------------------- -->
    <!-- Query inputs -->
    <!-- ---------------------------------- -->    
      <div class="grid-x grid-padding-x align-left"> 

        <!-- Text queries -->
        <div class="autocomplete-input-cont small-12 cell">
          <h2>Text queries</h2>
          <!-- Autocomplete text input -->  
          <div class="input-cont">
            <input type="text" id="textQueryInput0" class="text-query-input" data-id="2" 
              tabindex="1" name="textQuery[]" value="<%= somhunter.textQueries.q0.value %>">
          </div>
          <p class="inter-query-text"> ... AND THEN ...</p>
          <div class="input-cont">
            <input type="text" id="textQueryInput1" class="text-query-input left-marged" data-id="1" 
              tabindex="2" name="textQuery[]" value="<%= somhunter.textQueries.q1.value %>">
          </div>
                    
        </div>

        <!-- Autocomplete logic -->
        <%- include autocomplete_logic.ejs %>

        <div class="autocomplete-input-cont small-12 cell">
          <a class="button block-btn rescore-btn" onclick="rescore()">Rescore</a>
        </div>
      </div>
    </form>
  </section>

  <!-- ---------------------------------- -->
  <!-- Control buttons-->
  <!-- ---------------------------------- -->
  <section class="section-control-buttons ">
    <div class="grid-container"> 

      <!-- Screen buttons -->
      <div class="screen-btns grid-padding-x grid-x align-left"> 

        <div class="small-12 cell">
          <a id="btnSom" onclick="showSomDisplay()" class="button block-btn som-screen-btn">SOM Screen</a>
        </div>
        
        <div class="small-6 cell">
          <a id="btnTopn" onclick="showTopDisplay()" class="active button block-btn top-ranked-btn">Top-ranked</a>
        </div>

        <div class="small-6 cell">
          <a id="btnDetail" class="button block-btn detail-btn">Detail</a>
        </div>

      </div>

      <!-- Tips -->
      <div class="screen-btns grid-x align-left"> 

        <ul class="tips-list">
          <li>SHIFT + Mouse Wheel for <span>TEMPORAL CONETXT</span></li>
        </ul>
        
      </div>
    </div>
  </section>
    

  </div>

<!-- ===================================== -->
<!-- MAIN BODY: Image grid-->
<!-- ===================================== -->
<div id="frameGridWrapper" class="ranker-right-sidebar image-grid-section image-browser-main-tiles small-9 cell grid-container">

  <ul id="frameGrid" class="<%= somhunter.screen.type %>-grid frame-grid grid-x grid-x"></ul>

</div>



<!-- ===================================== -->
<!-- VIDEO DETAIL MODAL -->
<!-- ===================================== -->
<div class="large reveal grid-x" id="modalDetail" data-reveal data-src="999" data-overlay="false">
  
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>

  <ul id="videoDetailFrameGrid" class="detail-grid frame-grid grid-x grid-x">
  </ul>

</div>

<!-- ===================================== -->
<!-- HELP MODAL -->
<!-- ===================================== -->
<div class="large reveal grid-x" id="modalHelp" data-reveal data-src="999" data-overlay="false">
  
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>

  <h1>Help</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in imperdiet enim, eget egestas enim. Aliquam nec ornare ipsum. Nullam ullamcorper dapibus dictum. Nulla semper dapibus eleifend. Sed id nibh vel sapien lobortis commodo a nec orci. Curabitur elit ex, sagittis a aliquet sed, tempus vitae augue. Pellentesque tincidunt, leo non facilisis euismod, diam arcu ultrices turpis, at ultricies arcu tortor quis sem. Nam rutrum convallis malesuada. 
  </p>

</div>
</section>

<!-- Include footer -->
<%- include common/footer.ejs %>

<%- include somhunter_event_handlers.ejs %>
